<header class="site-header" role="banner">

  <div class="wrapper">
    <a class="site-title" rel="author" href="{{"/index.html" | relative_url }}">
        <!--{{site.title}}-->
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        	 viewBox="0 0 414.9 66.6"  xml:space="preserve">
        <g>
        	<path class="st0" d="M108.5,51.5V14.7h7.8v29.9h15.6v6.9H108.5z"/>
        	<path class="st0" d="M144,51.5V14.7h26.1v6.9h-18.2v7.8h17.8v6.9h-17.8v8.3h18.2v6.9H144z"/>
        	<path class="st0" d="M208.3,51.5l-17.6-24v24h-7.8V14.7h8.1L208,37.8V14.7h7.8v36.9H208.3z"/>
        	<path class="st0" d="M227.3,46.3l4.3-6c2.6,2.7,6.6,5,11.7,5c4.3,0,6.4-2,6.4-4.1c0-6.5-21.2-2-21.2-15.9c0-6.1,5.3-11.2,14-11.2
        		c5.9,0,10.7,1.8,14.4,5.1l-4.4,5.7c-3-2.8-7-4-10.7-4c-3.4,0-5.2,1.5-5.2,3.7c0,5.9,21.2,1.9,21.2,15.7c0,6.7-4.8,11.8-14.8,11.8
        		C235.8,52.2,230.7,49.8,227.3,46.3z"/>
        	<path class="st0" d="M268.5,47.7c0-2.4,2-4.5,4.5-4.5c2.4,0,4.5,2,4.5,4.5s-2,4.5-4.5,4.5C270.6,52.1,268.5,50.1,268.5,47.7z"/>
        	<path class="st0" d="M288.6,33.1c0-11.1,8.1-19.1,19.2-19.1c11.2,0,19.3,8,19.3,19.1c0,11.1-8.1,19.1-19.3,19.1
        		C296.7,52.2,288.6,44.2,288.6,33.1z M319,33.1c0-6.9-4.4-12.1-11.2-12.1s-11.2,5.2-11.2,12.1c0,6.9,4.4,12.1,11.2,12.1
        		S319,40,319,33.1z"/>
        	<path class="st0" d="M360.1,51.5l-7.2-13.1h-5.7v13.1h-7.8V14.7h17.2c7.7,0,12.4,5,12.4,11.9c0,6.5-4.1,10-8.1,10.9l8.3,14H360.1z
        		 M360.8,26.6c0-3.1-2.4-5-5.5-5h-8.2v9.9h8.2C358.5,31.5,360.8,29.7,360.8,26.6z"/>
        	<path class="st0" d="M379.6,33.1c0-11.7,8.8-19.1,19.6-19.1c7.7,0,12.5,3.9,15.2,8.2l-6.5,3.5c-1.7-2.6-4.8-4.8-8.7-4.8
        		c-6.7,0-11.5,5.1-11.5,12.1c0,7,4.9,12.1,11.5,12.1c3.3,0,6.4-1.4,7.8-2.8V38h-9.7v-6.9h17.6v14.1c-3.8,4.2-9,7-15.7,7
        		C388.5,52.3,379.6,44.7,379.6,33.1z"/>
        </g>
        <rect x="13.5" y="60.4" class="st1" width="39.3" height="6.2"/>
        <rect x="13.5" y="0" class="st1" width="39.3" height="6.2"/>
        <rect x="0" y="13.7" class="st1" width="6.2" height="39.3"/>
        <path class="st1" d="M33.3,13c-5.6,0-10.5,2-14.5,5.9c-4,3.9-6.1,8.7-6.1,14.2c0,6.2,2.2,11.4,6.7,15.2c4,3.5,8.6,5.2,13.6,5.2
        	c5.7,0,10.6-2,14.6-5.9c4-3.9,6-8.7,6-14.3c0-5.6-2-10.4-6-14.4C43.6,15,38.8,13,33.3,13z M42.7,43c-2.6,2.6-5.8,3.9-9.6,3.9
        	c-3.5,0-6.6-1.3-9.3-3.9c-2.7-2.6-4-5.8-4-9.9c0-3.9,1.3-7,3.9-9.6c2.6-2.6,5.8-3.9,9.6-3.9c3.8,0,7,1.3,9.5,3.9
        	c2.6,2.6,3.9,5.9,3.9,9.7C46.6,37.1,45.3,40.3,42.7,43z"/>
        <rect x="60.2" y="13.7" class="st1" width="6.2" height="39.3"/>
        </svg>
    </a>
    <nav class="site-nav">
        <input type="checkbox" id="nav-trigger" class="nav-trigger">
        <label for="nav-trigger">
          <span class="menu-icon">
            <svg viewBox="0 0 18 15" width="18px" height="15px">
              <path d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.032C17.335,0,18,0.665,18,1.484L18,1.484z M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0 c0-0.82,0.665-1.484,1.484-1.484h15.032C17.335,6.031,18,6.696,18,7.516L18,7.516z M18,13.516C18,14.335,17.335,15,16.516,15H1.484 C0.665,15,0,14.335,0,13.516l0,0c0-0.82,0.665-1.483,1.484-1.483h15.032C17.335,12.031,18,12.695,18,13.516L18,13.516z"></path>
            </svg>
          </span>
        </label>
        <div class="trigger">
          <ul class="main-menu">
              <li><a class="page-link" href="{{"/index.html" | relative_url }}">Home</a></li>
              <li><a class="page-link" href="{{"/getting-started.html" | relative_url }}">Getting Started</a></li>
              <li>
                  <a class="page-link" href="{{"/request.html" | relative_url }}">Request</a>
                  <ul class="sub-menu">
                      <li><a class="page-link" href="{{"/request.html" | relative_url }}">Scholar Request</a></li>
                      <li><a class="page-link" href="{{"/patent-request.html" | relative_url }}">Patent Request</a></li>
                  </ul>
              </li>
              <li>
                  <a class="page-link" href="{{"/response.html" | relative_url }}">Response</a>
                  <ul class="sub-menu">
                      <li><a class="page-link" href="{{"/response.html" | relative_url }}">Scholar Response</a></li>
                      <li><a class="page-link" href="{{"/patent-response.html" | relative_url }}">Patent Response</a></li>
                  </ul>
              </li>
              <li>
                  <a class="page-link" href="{{"/examples.html" | relative_url }}">Examples</a>
                  <ul class="sub-menu">
                      <li><a class="page-link" href="{{"/examples.html" | relative_url }}">Scholar Examples</a></li>
                      <li><a class="page-link" href="{{"/patent-examples.html" | relative_url }}">Patent Examples</a></li>
                  </ul>
              </li>
              <li>
                  <a class="page-link" href="{{"/samples.html" | relative_url }}">Code Samples</a>
                  <ul class="sub-menu">
                      <li><a class="page-link" href="{{"/samples.html" | relative_url }}">Scholar Code Samples</a></li>
                      <li><a class="page-link" href="{{"/patent-samples.html" | relative_url }}">Patent Code Samples</a></li>
                  </ul>
              </li>
              <li><a class="page-link" href="{{"/support.html" | relative_url }}">Support</a></li>
          </ul>
        </div>
    </nav>
  </div>
</header>
